{% extends "tb_layout.html" %}
{% block content %}


            <legend class="border-bottom mb-4"> System Data</legend>
            
            <table id="example">
                <thead>
                    <tr>
                        <th scope="col"> System </th>
                        <th scope="col"> link </th>
                    </tr>
                </thead>

                <tbody>
                    {% for system in systems %}
                    <tr> 
                        <td> {{ system.system_name }} </td> 
                        <td> <a href="{{ url_for('systems.system', system_id=system.id) }}"> {{ system.id }} </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


{% endblock content %}


{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            scrollX: true,
            scrollY: '400px',
            scrollCollapse: true,
            fixedHeader: true,
            fixedColumns: true
        });
    });
</script>
{% endblock scripts %}